body{
  display: flex;
  background-color: black;
}

div{
  width: 50%;
  margin-top: 170px;
  
}

img{
  width: 100%;
 border-radius: 50%;
  transition: 0.3s all ease;
}

img:hover{
box-shadow: 10px 30px 10px aqua;
transform: scale(1.01);
}